<?xml version="1.0"?>
<configuration>
	<!--CREATING CONNECTION TO THE DATABASE-->
	<connectionStrings>
		<add name="constr" connectionString="Data Source=.;Initial Catalog=db_shopping;Integrated Security=True"/>
	</connectionStrings>
	<!--CONNECTION ENDS HERE-->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>